doctype html
html
  head
    title= title
    block css
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/normform.min.css')
      link(rel='stylesheet', type='text/css', href='/semantic/semantic.min.css')
  body(onload='kek()')
    header
      nav
        include nav.pug
    .ui.two.column.relaxed.grid
      .row
        .two.wide.column
          include sidenav.pug
        .fourteen.wide.column
          main
            block content

           

      
    footer
      block footer
      
        .liveSupport
          .ui.card
              .content
                  h3 Live Support Chat
              .image
                  img
              .content#infinity
                  .ui.comments#somerow(style='overflow-y:scroll; scroll-behavior:smooth;max-height:200px;')
                      .comment
                          a.avatar
                              img.tiny(src='https://fr.workxplore.com/images/icons/hexagon/darkblue/MI_DARK_BLUE_ICON_SUPPORT.png')
                          .content
                              a.author Support
                              .text
                                  | Welcome to Live Support, How Can i help you today?
                      

              .extra.content
                .ui.action.input.transparent.fluid
                      input(type='text', placeholder='Add Reply...')#reply
                      i.paper.plane.outline.icon.cBlue.circular.pointer(onclick='alul()')
        button.circular.ui.icon.button.right.huge.liveSupportBlob
          i.icon.comments
    

    script.
      function alul() {

        var today = `Today at ${new Date().getHours()}:${new Date().getMinutes()}`;
        var maindiv = document.getElementById('somerow');
        var inputVal = document.getElementById('reply').value;
        if (inputVal != '') {
        maindiv.innerHTML += `<div class="comment"><a class="avatar"><img class="tiny" src="https://img.pngio.com/imagenes-random-png-5-png-image-random-png-451_326.png"></a><div class="content"><a class="author">You</a><div class="metadata"><span class="date">${today}</span></div><div class="text">${inputVal}</div></div>`;
        }
      }
    block js
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js')
      script(src='/semantic/semantic.js')
      script(src='/javascripts/main.js')
      script(src='https://kit.fontawesome.com/5bbbb0823d.js', crossorigin='anonymous')
      
